nav{
  padding:5px
}
nav a{
  color:rgb(3, 1, 1);
  margin:0 10px 0 10px;
  width:20%;
  text-align:center;
}

*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{
  text-decoration: none;
}
nav a:hover{
  border-bottom: 2px solid rgba(16, 160, 204, 0.952);
}
  
/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */
.banner {
  background-color: rgba(255, 76, 136, 0.658);
  color:white
}
/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
.main {
  font-size:40px;
  text-decoration-color: blue;
}
.container{
  display: flex;
}
.container div {
  flex: 1;
}
